main {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1%;
  text-align: center;
}

img {
  width: 80%;
  cursor: pointer;
}

.buttons-div {
  text-align: center;
  margin-bottom: 10px;
}

.form-modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
  left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

.form-modal-box {
  text-align: center;
  background-color: white;
	height: 250px;
	width: 450px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  padding: 1%;
}

.clothes-modal {
	background-color: rgba(0, 0, 0, 0.05);
	position: fixed;
	top: 0;
	bottom: 0;
  left: 0;
	height: 100%;
  width: 100%;
	z-index: 1;
	overflow: auto;
  text-align: center;
}

.clothes-modal-box {
  text-align: center;
  background-color: white;
	width: 90%;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  padding: 1%;
}

.collection-heading {
  text-align: center;
  margin-bottom: 10px;
}

.sort-dropdown {
  margin-bottom: 10px;
}

.clothes-modal-img {
  width: 50%;
  cursor:auto;
}

.close-modal {
  margin-bottom: 10px;
}

button, select {
  cursor: pointer;
}

select {
  margin-bottom: 10px;
}